#modal-create, #modal-edit {
    width: 100%;
    padding: 50px;
}

#divCreate, #divEdit, .d-none {
    display: none;
}

.m-15 {
    margin: 15px;
}

.input-error {
    display: none;
    color: red;
}

.form-error {
    text-align: right !important;
    color: red
}
