@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TP7 - MVC Practice</h1>
    <p class="lead">CRUD sample using Entity framework</p>
    <p><a href="https://googlethatforyou.com?q=asp%20net%20mvc%205%20crud%20entity%20framework" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>